/* NAVBAR */

#nav{
    display: flex;
    justify-content:space-between;
}
#nav>li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(243, 149, 7);
    padding-top: 9px;
}
li>button{
    background-color: rgb(185, 123, 43);
    margin-top: -15px;
    border: none;
    color: white;
}
#logo{
    margin-top: -10px;
    font-size: x-large;
    font-weight: bold;
}

/* BODY */

.main{
    background-image: url(./b4n7_ho_00_p_1024x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.main>h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 70px;
    margin: auto;
    padding: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#feedback{
    justify-content: flex-end;

}
.main>button{
    background-color: rgb(185, 123, 43);
    padding: 17px 35px;
    text-align: center;
    display: flex;
    margin: auto;
    border: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* NAV2 */

#nav2{
    display: flex;
    justify-content:space-between;
}
#nav2>li{
    list-style-type: none;
    justify-content:flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(185, 123, 43);
    overflow: visible;
}
